<div class="d-flex flex-column justify-content-center align-items-center m-3 p-3 border col-6">
    <strong>Globally</strong>
    <div class="d-flex col-5 flex-row justify-content-between">
        <div class="d-flex flex-column mr-3">
            <p>Cases:</p>
            <p>Recovered:</p>
            <p>Deaths:</p>
        </div>
        <div class="d-flex flex-column p-tags-right">
            <p><%= all.confirmed %></p>
            <p><%= all.recovered %></p>
            <p><%= all.deaths %></p>
        </div>
    </div>
</div>