<%- include('../partial/header', {title:'Corona virus'}); -%>

<div class="p-3 d-flex flex-column justify-content-center align-items-center">
    <h1>COVID-19 CORONAVIRUS PANDEMIC</h1>
    <%- include('globally', {all}); -%>

    <%- include('countries', {countries}); -%>
</div>

<%- include('../partial/footer'); -%>