<%- include('../partial/header', {title:'Corona virus'}); -%>

<div class="d-flex justify-content-center align-items-center">
    <%- include('globally', {all}); -%>


</div>

<%- include('../partial/footer'); -%>